<%- include("./includes/header.ejs") %>
<%- include("./includes/navbar.ejs") %>

<main class="row container mt-4">
  <div class="col-4">
    <form action="/admin/add-product" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Judul</label>
        <input type="text" class="form-control" id="title" name="title" />
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary mt-3">
          Add Product
        </button>
      </div>
    </form>
  </div>
</main>

<%- include("./includes/footer.ejs") %>